---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER KEY>", oauth_nonce="aa46cf253fb03c23a7a1e87749016e0b",
        oauth_signature="oQ3M84ZXs9nWi5ZvS4WS4etfAXY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398604698", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 Apr 2014 13:18:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1398605228'
      X-Transaction:
      - 4110be7fb0de401c
    body:
      encoding: UTF-8
      string: '{"id":20,"id_str":"20","name":"Ev Williams","screen_name":"ev","location":"San
        Francisco, CA, US","description":"Here","url":"http:\/\/t.co\/RHopQRlgL9","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/RHopQRlgL9","expanded_url":"http:\/\/medium.com\/@ev\/","display_url":"medium.com\/@ev\/","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1726802,"friends_count":1632,"listed_count":19894,"created_at":"Tue
        Mar 21 21:02:31 +0000 2006","favourites_count":2743,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":7308,"lang":"en","status":{"created_at":"Sat
        Apr 26 20:10:20 +0000 2014","id":460148895784239105,"id_str":"460148895784239105","text":"@fat
        @dustin I''m even subconsciously doing a @dustin pose there","source":"web","truncated":false,"in_reply_to_status_id":459790203004010496,"in_reply_to_status_id_str":"459790203004010496","in_reply_to_user_id":16521996,"in_reply_to_user_id_str":"16521996","in_reply_to_screen_name":"fat","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":10,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"fat","name":"jacob","id":16521996,"id_str":"16521996","indices":[0,4]},{"screen_name":"dustin","name":"dustin
        senos","id":5413,"id_str":"5413","indices":[5,12]},{"screen_name":"dustin","name":"dustin
        senos","id":5413,"id_str":"5413","indices":[45,52]}]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"B6D4D1","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000541049107\/3b6dcbd9c0182688457f372b40483e50_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000541049107\/3b6dcbd9c0182688457f372b40483e50_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/20\/1397070152","profile_link_color":"430B26","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EE7C6E","profile_text_color":"AF4E4D","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 27 Apr 2014 13:18:20 GMT
recorded_with: VCR 2.9.0
