---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=41
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER KEY>", oauth_nonce="c825e84bdfde40cfddd5608460ee9891",
        oauth_signature="U3%2BfFuggF4wLz52Kbh%2FnV1%2FzpU8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398637684", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 Apr 2014 22:28:05 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '140'
      X-Rate-Limit-Reset:
      - '1398638428'
      X-Transaction:
      - 833888ef607855fa
    body:
      encoding: UTF-8
      string: '{"id":41,"id_str":"41","name":"drx","screen_name":"drx","location":"Deep
        in the Archives","description":"Adept bubble burster. Good problem connoisseur.
        Assassin of heroes.","url":"http:\/\/t.co\/BCZBPGJ98H","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/BCZBPGJ98H","expanded_url":"http:\/\/www.last.fm\/user\/drx","display_url":"last.fm\/user\/drx","indices":[0,22]}]},"description":{"urls":[]}},"protected":true,"followers_count":33,"friends_count":45,"listed_count":8,"created_at":"Thu
        Mar 23 00:05:49 +0000 2006","favourites_count":1025,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":6937,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/3573696176\/717003133cb7e58cda5522b56976b490_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/3573696176\/717003133cb7e58cda5522b56976b490_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/41\/1356233175","profile_link_color":"2F3631","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 27 Apr 2014 22:28:05 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER KEY>", oauth_nonce="c89a0be183c1833acdfd364e681e5ae5",
        oauth_signature="noKbWxT0njfDjtqzWnRmLVG06e0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398637812", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 Apr 2014 22:30:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '105'
      X-Rate-Limit-Reset:
      - '1398638428'
      X-Transaction:
      - 047b32ba1d938897
    body:
      encoding: UTF-8
      string: '{"id":70,"id_str":"70","name":"Shannon","screen_name":"shannon","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":848,"friends_count":134,"listed_count":13,"created_at":"Sat
        Apr 01 19:30:51 +0000 2006","favourites_count":15,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":1215,"lang":"en","status":{"created_at":"Tue
        Apr 22 18:10:38 +0000 2014","id":458669220650553344,"id_str":"458669220650553344","text":"Watching
        Memorial for #horstrechelbacher\nWho was a huge inspiration for me. I''m filled
        with emotion, and gratitude for all you accomplished.","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":4,"favorite_count":5,"entities":{"hashtags":[{"text":"horstrechelbacher","indices":[22,40]}],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EDECE9","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme3\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme3\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/434424507223121921\/dnm4iHBY_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/434424507223121921\/dnm4iHBY_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/70\/1357242596","profile_link_color":"088253","profile_sidebar_border_color":"D3D2CF","profile_sidebar_fill_color":"E3E2DE","profile_text_color":"634047","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 27 Apr 2014 22:30:13 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=43
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER KEY>", oauth_nonce="da8382a388c6a17bb73b5c5cd26e51fc",
        oauth_signature="Bohai5PHK36LPmvRfVDXGNXZLXY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398638739", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 27 Apr 2014 22:45:40 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '155'
      X-Rate-Limit-Reset:
      - '1398639585'
      X-Transaction:
      - 15fa50e8dca0295c
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Sorry, that page does not exist","code":34}]}'
  recorded_at: Sun, 27 Apr 2014 22:45:40 GMT
[...]
